*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utility */
.container{
    width: 40%;
    margin: 0 auto;
}

.pad-o{
    padding-left: 15px;
    padding-right: 15px;
    }

.marg-b{
    margin-bottom: 15px;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

/* debug-box */
.debug-box{
    height: 30px;
    border: 1px solid rgba(0, 0, 0, .2);
}

.header{
    background: violet
}

/* article */
.article{
    background: darkkhaki;
}

/* main content */
.sidebar, .main-content{
    float: left;
}

.title{
    width: 100%;
    background: royalblue;
    padding-bottom: 15px;
}
.sidebar{
    width: 25%;
    background: royalblue;
}

.main-content{
    width: 50%;
    background: royalblue;
}

.txt-aside, .txt-content, .txt-title{
    background: lightblue;
}