*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utility */
.container{
    width: 40%;
    margin: 0 auto;
}

.pad-o{
    padding-left: 15px;
    padding-right: 15px;
    }

.marg-b{
    margin-bottom: 20px;
}

/* debug-box */
.debug-box{
    height: 30px;
    border: 1px solid rgba(0, 0, 0, .2);
}

.header{
    background: violet
}

/* article */
.article{
    background: darkkhaki;
    
}